<div class="jumbotron">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id ="home" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>
    </ul>
    <div class="mt-4 mb-4">      
        
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-dark mb-3">
                    <div class="card-body">
                    <!-- ? weather info? -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="mx-auto h-50 w-50 div-center">
                        <!-- <p class="display-4">Welcome <%= user%>!</p> -->
                        <p class="display-4 text-center hi">Hello!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark mb-3 mx-auto">
                    <div class="card-body mx-auto">
                        <h1 id="clock" class="text-white text-center"></h1>
                        <h5 id="day" class="text-white text-center"></h5>
                        <h6 id="date" class="text-white text-center"></h6>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis libero mauris, sit amet rhoncus eros
            eleifend a. Sed erat eros, tincidunt eget consequat pulvinar, facilisis eget tortor. Mauris consectetur
            tortor eu diam rutrum hendrerit et eu lacus. Pellentesque interdum felis in sem sollicitudin viverra.</p>      
    </div>
</div>
<script type="text/javascript">window.onload = showClock();</script>
