<div class="jumbotron">
    <h1 class="lead">Dashboard</h1>
    <div class="mt-4">
        <p class="display-3">Welcome <%= user%>!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis libero mauris, sit amet rhoncus eros eleifend a. Sed erat eros, tincidunt eget consequat pulvinar, facilisis eget tortor. Mauris consectetur tortor eu diam rutrum hendrerit et eu lacus. Pellentesque interdum felis in sem sollicitudin viverra.</p>
        <p class="lead mt-4">
            <a href="/users/logout" class="btn btn-primary">Logout</a>
        </p>
        
    </div>
</div>