<div class="jumbotron">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="home" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/user">My posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>
    </ul>
    <div class="mt-4 mb-4">
        <div class="row">
            <div class="col-sm">
                <div class="mx-auto h-50 w-50 div-center">
                    <p class="display-4 text-center">Welcome <%= user%>!</p>
                    <!-- <p class="display-4 text-center hi">Hello!</p> -->
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark mb-3 mx-auto">
                    <div class="card-body mx-auto">
                        <h1 id="clock" class="text-white text-center"></h1>
                        <h5 id="day" class="text-white text-center"></h5>
                        <h6 id="date" class="text-white text-center"></h6>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="d-flex flex-wrap">
            <% posts.forEach(function(post){ %>
                <%- include('photo', {post: post}); %>
                    <% }); %>
        </div>
    </div>
</div>
<script type="text/javascript">window.onload = showClock();</script>