<div class="card bg-secondary mb-3 border-secondary">
    <div class="card-body">
        <img src="https://pelnasala.pl/wp-content/uploads/2020/04/twin-peaks.png" alt="image" style="height: 250px;
        width: 250px;">
    </div>
    <div class="card-header">
        <h1 class="text-center mt-3"></i></h1>
    </div>
</div>