<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <%- include ('./partials/messages') %>
        <div class="card text-center">
            <div class="card-header">
                <h1><i class="fas fa-laugh-beam fa-3x mt-3"></i></h1>
            </div>
            <div class="card-body">
                <h4 class="card-title mt-3 mb-4">Create an account or log in</h4>
                <a href="/users/register" class="btn btn-outline-secondary btn-block">Register</a>
                <a href="/users/login" class="btn btn-outline-secondary btn-block">Login</a>
            </div>
        </div>
    </div>
</div>